/*SanQ styles v1.0 - Drupal6x - 28/08/08
author:slasant: www.slasant.ru*/

#utilities form{bottom:7px;}
#utilities input.form-submit{padding:0px;}	
#utilities input.form-text {padding:1px 1px 3px 1px;}

div.admin .left {
  _margin-left:0.2em;
}

.item-list .pager li{
margin:0px 1px 0 1px;
}

.item-list .pager li.pager-current{
padding:2px 2px 3px 4px;
}


.lsidebar {
	width: 180px;
	float: left;
	margin:7px 9px 0 8px;
	}
.rsidebar {
	width: 180px;
	float: left;
	margin:7px 6px 0 7px;
	}	
	
.wrapper{margin:0px;}
#primary{margin:17px 8px 0 4px;}
/*login line*/
#login {
	right: 133px;
}
