/*- SanQReal styles v1.0 - Drupal6x - 27/08/08
author:slasant: www.slasant.ru
 */

* {padding: 0;margin: 0;}

img {border: 0;}

body {
	font-family: "Lucida Grande","Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	line-height:1.125em;/*18px*/
	font-size:100%;/*set regular font size*/
	color: #333;
	letter-spacing:normal;
	text-align: center;
	margin: 0px 0 20px 0;	background-color: #363636;
	}


#page {
 	 	background: none; 
	text-align: left;
	margin: 0px auto;
	position: relative;
	padding: 0 5px 0 5px;
	/* The entire template's width is set in this class. */
	width: 970px;

	}

* html #page { width: 970px; } /* IE hack */

body.flex #page { /* For the flexible-width setting. */
	width: 98%;
	/*width: 80%;
	min-width: 970px !important;
	max-width: 1000px; */
	}

#utilities {
	padding: 0;
	margin: 0px auto 5px auto;
	width: 100%;
	height:40px;
	position:relative;
	background-color: #c8ca63;
	background-image: url(img/menu-bg.gif);
	background-repeat: repeat-x;
	}
#utilities_corner ul{
	background: url(img/menu-right.gif) 100% 0 no-repeat;
	overflow: hidden; margin-left: 0px; padding-right: -3px;
	 padding-left: 4px;
	height:40px;	 	overflow: hidden;

}

#utilities_corner {
	background: url(img/menu-left.gif) no-repeat;
	width: 100%; 
	height:40px;

}
/*- Primary links in Header */


#utilities #plinks {
font-size:90%;
color:#5c2b2e;
position:absolute;
left:0px; width: 100%;
bottom:0px!important;
bottom:-1px;
		}
#plinks li{ 	
	display: inline;
	padding: 0px 0 17px 0px;
	position: relative; margin-left: -1px; margin-right: -1px;
	background: url(img/divider.gif) no-repeat right  5px;	


		}
#utilities #plinks ul li{
	display: inline;
	float:left; 

	}

#utilities #plinks ul li a {
	color: #000000; font-size: 120%;  

	text-transform:capitalize;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 3px;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 13px;
	padding-left: 20px;

	display:block;
	}

#utilities #plinks ul li a:hover {
	color: #000000;
	text-decoration: none;
	background-image: url(img/menu-current-bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 4px;
	margin-left: 3px;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 13px;
	padding-left: 20px;

}

#utilities #plinks ul li a.active,
#utilities #plinks ul li a.active:hover {
	color: #000000;!important; 
	text-decoration: none;
	font-weight: normal;
	background-image: url(img/menu-current-bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
		margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 3px;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 13px;
	padding-left: 20px;

}

#header {
	padding: 0;
	margin: 0;
	height: 125px;
	position:relative;
	background-image: url(img/banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #000000;
	}
	
#submenu { /*secondary links*/

font-size:0.875em;
 height: 30px;
margin: 5px 0px 0px 0px;
text-align:left;
letter-spacing: 1px;

	}
#submenu ul{ 

font-size:0.875em;
 height: 30px;
 padding:5px 10px 0px 30px;
text-align:left;
letter-spacing: 1px;

	}	
#submenu_lc { 
 height: 30px;
}

#submenu a {
	color:#CCCCCC;
	padding:6px 10px 6px 20px;
	background-image: url(img/bullet.gif);
	background-repeat: no-repeat;
	background-position: left 7px;
	}
#submenu a:hover{
	padding:6px 10px 6px 20px;
	margin: 0px;
	background-image: url(img/bullet_current.gif);
	background-repeat: no-repeat;
	background-position: left 7px;
	}
#submenu a.active{
	margin: 0px;
	padding:6px 10px 6px 20px;
	background-image: url(img/bullet_current.gif);
	background-repeat: no-repeat;
	background-position: left 7px;
	}


/*path*/
.path{
	padding-bottom:5px;
	padding-left: 10px;
}


#primary .singlepage .path  p {
letter-spacing:0px;
margin-top:1px;
	}	


.wrapper{
}  

#primary { 
	float: left;
	margin: 0px;
	 
	}


#primary .singlepage p {  
	font-size:0.8125em;  
	margin:10px 0 10px 0;
	}


/*- Main styles */

h1, h2, h3, h4, h5, h6 {	
	margin: 10px 0;
	}
h1, h1 a{text-decoration: none;}


h3, h4 {
	font-size: 1.2em;
	font-weight: normal;

	}

h2, h2 a, h2 a:visited,
h3, h3 a, h3 a:visited,
h4, h4 a, h4 a:visited {
	color: #333;
	}

h2, h2 a, h2 a:hover, h2 a:visited,
h3, h3 a, h3 a:hover, h3 a:visited,
h4, h4 a, h4 a:hover, h4 a:visited {
	text-decoration: none;
	}


#page #primary .drdot{ /* sistema il float */
   clear:both;
	}



/*- Header styles */

#header h1, #header p { /* site title */
	font-family:Georgia, "Times New Roman", Times, serif;
	color:white;
	font-size: 2.3em; 
	font-weight: lighter;
	letter-spacing: -1px;
	margin: 0px;
	padding: 44px 0 7px 35px;
	text-transform: none;

	}
.sitetitle {	
}


#header img#logo{
	float: left;
	margin-top: 35px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 35px;
}
#header p.slogan{
    font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 1.1em;
	line-height:1em;
	font-weight: lighter;
	letter-spacing: -0.3px;
	padding: 4px 0 10px 38px;
	display: block;
	color: #999999;
	}

#header h1 a, #header p a{color: #660000;}
#header h1 a:hover, #header p.sitetitle a:hover{text-decoration: none;}
	
	
#header h1, #header h2{font-family:Georgia, "Times New Roman", Times, serif;}

h1 a, h2 a {
font-family:Georgia, "Times New Roman", Times, serif;
color: #333;}

h1 a:visited{color: #fff;}


#header p.description {
	font-family: Arial,sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 5px 0 0 37px;
	}
#header p.description img {
	margin: 0 8px 0 0;
	vertical-align: -2px;
}

/*search box*/	

#utilities form {
position:absolute;
right: 10px;
bottom:3px;
	}
	
	
#utilities label{color:white;display:none;}	
	
#utilities input  {
margin-top:10px;
margin-bottom:8px;
float:left;
	margin-right: 5px;
	}
	
#utilities input.form-submit{
	color: #666666;
	font-size: 12px;
	padding: 1px 3px 0px 1px;
}	
#utilities input.form-submit:hover {
	color: #666666; 

 }	

#utilities input.form-text  { background:  #F6F6F6;
	font-size:0.75em; margin-top: 11px;
	border: #6D6D6D solid 1px;
	color: #666666;
	width: 120px;
	padding: 1px;
	height: 17px;
	margin-right: 5px;
	}






.admintab {
	/*_padding: 5px 15px 6px;*/ /* IE hack */
	}

* html .admintab { padding: 5px 15px 6px }	/* IE hack */

/*- Sidebar Subpages Menu */

.lsidebar {
	width: 195px;
	float: left;
	margin-top:-5px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:5px;
	}
.rsidebar {
	width: 195px;
	float: left;
	margin-top:-5px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:5px;
	}	

#sitemission{ /*site mission*/
margin:0px 0 15px 0;
padding:0px 0px 0px 2px;

}

#primary #sitemission p{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.3em;
	font-style: normal;
	line-height:110%;
	text-align: center;
	color:#666;
	margin:0px 0 15px 0;
	padding: 10px;
}
	
/*block styles*/

.defaultblock{
	margin:-5px 0px 0px 0px;padding-top: 0px;padding-bottom: 0px;
	background-color: #68696b;
	background-image: url(img/defaultblock-top.gif);
	background-repeat: no-repeat; 
	background-position: left top; 

	}
	
.defaultblock .blockcontent{
 
	font-size:0.8125em;/*13px*/
	background-image: url(img/defaultblock-bottom.gif);
	background-repeat: no-repeat;
	background-position: left bottom; 
    
	}
	
	
.loginblock{
	background-image: url(img/login_block_t1.png);
	background-repeat: no-repeat;
	background-position: left top; 
	background-color: #EBEBEB;
	font-size:0.8125em;
	margin:-5px 0px 0px 0px;padding-top: 0px;padding-bottom: 0px;

	}
.loginblock .blockcontent{
	background-image: url(img/login_block_t.png);
	background-repeat: no-repeat;
	background-position: left bottom;

	font-size:0.8125em;
	}	
form#user-login-form{text-align:left;line-height:0.9em;}
form#user-login-form label{margin-bottom:3px;}
.loginblock ul li{margin:0;padding:0; }
	
.defaultblock .blockcontent, .loginblock .blockcontent{
padding:0px 10px 5px 10px;
	}

.defaultblock h2{
	color:#333;
	margin-bottom:5px;
	font: 0.875em Georgia, "Times New Roman", Times, serif; /*14px*/
	text-transform:uppercase;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 12px;
	}
	
.loginblock h2{
	color:#333;
	font: 1em Georgia, "Times New Roman", Times, serif; /*14px*/
	text-transform:uppercase;
	text-align: center;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
background:  url(img/wand.png) no-repeat 35px 9px;
	}
.form-item #edit-query { width: 100px;
}	
.form-submit {padding-left: 4px}	
.form-item label {
	color: #333333;

	margin-left: 20px;}
#user-login-form #edit-name  {
	border: 1px solid #CCCCCC;
	color: #333333;
	width: 120px;
		font-size:100%;
padding:1px;
	margin-right: 5px;
	margin-left: 20px;
}
#user-login-form #edit-name-1  {
	border: 1px solid #CCCCCC;
	color: #333333;
	width: 120px;
		font-size:100%;
padding:1px;
	margin-right: 5px;
	margin-left: 20px;
}
#user-login-form  #edit-pass {
		font-size:100%;
padding:1px;
	border: 1px solid #CCCCCC;
	color: #333333;
	width: 65px;
 margin-left: 20px;

 }
#user-login-form #edit-submit {
	color: #666666;
		font-size:100%; padding-bottom:5px;

	width: 50px;
	height: 20px;
	  float: left; margin-left: 5px; margin-top: 6px;
 
}
#user-login-form #edit-submit-1 {
	color: #666666;
		font-size:100%; padding-bottom:5px;

	width: 50px;
	height: 20px;
	  float: left; margin-left: 5px; margin-top: 6px;
 
}

#user-login-form #edit-pass-wrapper { float:left; margin-left: 0px; margin-top: -5px;
}
#user-login-form #edit-name-wrapper { float:left;  margin-top: -5px; }

.loginblock .blockcontent .item-list ul  li{
	list-style: none;
	font-size: 90%;
	letter-spacing: 0.11em;
	text-align: left; margin-left: 5px; 
	display: block;   background:none;
}
.loginblock .blockcontent .item-list ul  li a:hover{
	color: #FF9900;
}



.defaultblock .blockcontent .item-list ul  li {
	color: #999999;
	font-size: 80%;
}

.defaultblock .blockcontent .item-list ul  li a{
	font-size: 120%;

}

.rsidebar .loginblock{ }

.defaultblock h3{
color:#333;
font:  Georgia, "Times New Roman", Times, serif; /*13px*/
text-transform:uppercase;
	}


/*- Primary Contents */

#primary .item {
	margin: 0 0 15px 0;
	padding: 0;
	/*position: relative;*/
	}

	
#primary .title h2{
	color: #333333;
	text-transform: uppercase;
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 0.9em;
	line-height: 1em;
	font-weight: bold;
	}
	
#primary .item .itemhead {margin: 0 0 5px 0; padding: 0;}
	
#primary .item .itemhead h3 {
	font-size: 1.7em;
	display: block;
	margin: 0 0 0 0 !important;
	margin: 0 0 0 10px;
	padding: 0;
	}
		
#primary .item .itemtext {
	font: 1.1em/1.5em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: justify;
	color: #444;
	margin: 0;
	padding: 0;
	}

#primary .item .itemtext p,
#primary .item .itemtext ul,
#primary .item .itemtext ol,
#primary .item .itemtext div,
#primary .item .itemtext blockquote {
	margin: 0 0 0 0 !important;
	margin: 0 0 0 10px;
	}


	
#primary .item .itemhead p.metadata {
	font-size: .85em;
	text-transform: uppercase;
	display: block;
	margin: 2px 0 0 0 !important;
	margin: 2px 0 0 10px;
	color: #666;
	}

/*content headings */

#primary .singlepage h1,#primary .singlepage h2, #primary .singlepage h3, #primary .singlepage h4, #primary .singlepage h5, #primary .singlepage h6{ 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	color: #333;
	letter-spacing: -1.2px;
	text-align: left;
	text-transform: none;
	margin:10px 0 10px 0;
	padding:0;
}

#primary .node .content h1 a,#primary .node .content h2 a, #primary .node .content h3 a, #primary .node .content h4 a, #primary .node .content h5 a, #primary .node .content h6 a{ 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	color: #333;
	letter-spacing: -1.2px;
	text-align: left;
	text-transform: none;
	margin:10px 0 15px 0;
	padding:0;  
}


#primary .singlepage h2.nodeTitle a { /*links in teasers are smaller!*/
	font:0.9em Georgia, "Times New Roman", Times, serif; /*14px*/
}


#primary .singlepage h1{font-size:1.75em; line-height:1.15em;margin-bottom:12px;}
#primary .singlepage h2.with-tabs{margin-bottom:30px; margin-left: 10px;}


#primary .singlepage h2{font-size:1.5em;}
#primary .singlepage h3{font-size:1.4em;}
#primary .singlepage h4{font-size:1.3em;}
#primary .singlepage h5{font-size:1.2em;}
#primary .singlepage h6{font-size:1.1em;}

#primary .singlepage h2 a, #primary .singlepage h3 a, #primary .singlepage h4 a, #primary .singlepage h5 a, #primary .singlepage h6 a{font-size:1em;}





#primary .singlepage p.small { 
	font: 1em/1.5em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	margin-top: 10px;
	padding-top: 5px;
}

#primary img { 
	margin: 0 10px 0px 0;
	padding: 4px; 
	 
}
#primary .node .content img { 
 
	padding: 2px; background-color:#999999; 
	 
}
#primary .node .content img.smiley-content {
	border: none;
	float:none; background:none;
	margin: 0px 0px 0px 0px;
	padding: 0px;

}
#primary #comments .comment .content img.smiley-content { background:none;
	border: none;
	float:none;
	margin: 0px 0px 0px 0px;
	padding: 0px;

}
#primary .singlepage img.destra { 
	margin: 0 0px 0px 15px;
	padding: 4px;
	border: 1px solid #ccc;
	float: right;
}

#primary .singlepage img.altobasso { 
	margin:0px;
	display:block;
	padding: 0px;
	border: 0px solid #ccc;
	float:none;
}

#footer {  background: #000000 url(img/foterbg_right.png) no-repeat right top;
	width: 970px;
	height: 76px;
	margin: 10px auto;
	 color: #666666;   font-size: 80%; 
    text-align: left;

	font-weight: normal;
	}
#footer span{background: url(img/foterbg_left.png) no-repeat left top;
	width: 860px; padding: 7px 10px 0px 100px; 
	height: 76px;  
	  float:right;
	}
#footer p{font-size: 80%; 
	}
	
#footer img{border:none;}
#footer a{text-decoration: none;  color: #666666;       }
#footer a:hover{text-decoration: none;}


/*- Links */

#primary a:hover, #primary a:visited:hover,
.secondary a:hover, .secondary a:visited:hover {
	text-decoration: none; 
	}

/*h2 a:hover, h2 span a:hover {
	color: #27d !important;
	}
*/

a {
	color: #2E2E2E;
	text-decoration: none;
	}
	
.field-item a.external_link {
	padding-right: 30px;
	font-size: 14px;
	text-decoration:none;  
}
.field-item a:hover.external_link {
	padding-right: 30px;
	font-size: 14px;
	text-decoration:none;  
}
#primary .node .content a{ color:#6D6D6D;
text-decoration: underline;  
	}
#primary .node .content a:hover {	text-decoration:none;}	
.defaultblock a:hover{
	text-decoration: underline;
 
	}
/*.itemtext a:visited {
	color: #b41;
	}*/

/*- Various Tags and Classes */

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	}

hr {
	display: none;
	}

/*- Begin Lists */
.itemtext ol, .itemtext ul {
	padding: 0 0 0 35px;
	margin: 0;
	}

.itemtext ol li, .itemtext {
	margin: 0 0 3px;
	padding: 0;
	}

.secondary div p {
	margin-top: 0.5em;
	}

/*.secondary ul, .secondary ol {
	margin: 5px 0 0;
	padding-left: 0;
	}*/

.secondary ul, .secondary ol, .secondary div {
	margin: 5px 0 0;
	padding-left: 0;
	}


/*---------------tabelle---------------*/

.view table /*view table in fe*/
{
font-size:105%;
}

.view table tr td
{
padding:4px;
}



table
{
	margin:1em 0;
	width: 100%;
	font-size:0.8125em;
}

table tr td
{
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 9px;
}

#system-themes table img.screenshot /* fix for themes page */
{
	width:100px;
}

thead th
{
	border-bottom:2px solid  #969696;
	margin-bottom:4px;
	padding-bottom:4px;
	color:#494949;


}




tr.even
{


}

tr.odd
{

}

td.region,td.module,td.container
{
 

	color:#455067; 
	font-weight:bold;
}

tr:first-child td.region,tr:first-child td.module,tr:first-child td.container
{
 
}

td.menu-disabled,td.menu-disabled a
{

	color:#000;
}

.sticky-table {clear:left;padding:0px;overflow:hidden;font-size:70%;} /*fix report tab*/


/*----------list styles----------*/



.tabs ul li 
{

	padding:0;
	margin:0;
	list-style:none;

}


#primary ul
{
 margin:10px 0 10px 0;
}

/*lists in content*/

.item-list ul li
{
	margin:0 0 1px 0px;

	margin:0 0 1px 0px;
	background: transparent url('img/square.gif') no-repeat 0px 2px;
	list-style:none;
	padding: 0px 0 0px 22px;
	padding: 0px 0 0px 22px;
}
ul li {
	list-style: none; 
} 


#primary .singlepage .node .content li{ /*lists in node content*/
font-size:0.875em;
list-style:square;
margin:3px 0 3px 18px;
}


#primary .singlepage .node .content ol li{ /*ordered lists in node content*/
font-size:0.875em;
margin:3px 0 3px 22px;
list-style:decimal;
}


.rsidebar ul.menu li, .rsidebar .item-list ul li, .rsidebar li.leaf , .lsidebar ul.menu li, .lsidebar .item-list ul li, .lsidebar li.leaf {
	padding: .15em 0 .15em 1.5em;
	list-style-type: none;
	list-style-image: none;
	background: transparent url('img/squareactive.png') no-repeat 3px .7em;
}



.rsidebar ul li.expanded, .lsidebar ul li.expanded 
{
	background: transparent url('img/square.png') no-repeat 3px .6em;

}

.rsidebar ul li.collapsed, .lsidebar ul li.collapsed 
{
	background: transparent url('img/square.png') no-repeat 3px .6em;

}




ul.inline li 
{
	margin: 0;
	padding: 0 1em 0 0;
}

/*----------other styles----------*/
hr 
{
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;

}

dl 
{
	margin: 0;
	font-size:0.8em

}



dl dd 
{
	margin: 0.5em 0 .5em 1.5em;
}

dl dt
{
	background:url(img/square.gif) no-repeat 0 4px;

	padding:0 0 0 20px;
	margin:0;
}


span.form-required 
{
	color: #ffae00;
}

.body a
{
	margin-bottom: 0.75em;
	padding:2px;
	display:block;
}

.messages ul 
{
	margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item 
{
	margin: 0.25em 0;
	
}

.form-item ul li
{

	list-style: none;
}

.set
{

	list-style: none;
}




.form-button, .form-submit 
{
	margin: 0.5em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
set .form-button, set .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit
{
  margin: 0;
}


set ul.clear-block li
{
  margin: 0;
  padding: 0;

}

.box 
{
	margin-bottom: 2.5em;
}

.div
{
	margin:0;
	padding:0;
}

#primary .content blockquote
{
	border-left: 1px solid #E9EFF3; /* LTR */
	border-top:  1px solid #E9EFF3;
	margin:15px;
	padding:5px;
	color:#666;

	font-style: italic;
}

em
{ 

	font-style:italic;

}

/*admin panel styles*/


#primary .singlepage form{
  font-size:0.8em; position:relative;
}
.singlepage { background-color:#FFFFFF;}
div.admin-panel {
  margin: 0;
  padding: 5px 0px 15px 5px;

}

div.admin-panel .description {
  margin: 0 0 3px;
  padding: 2px 0 3px 0;
}

div.admin-panel .body {
  padding: 0 0px 2px 0px;
}

div.admin {
  padding-top: 15px;
}

div.admin .left {
  float: left;
  width: 45%;
  margin-left: 1em;
}

div.admin .right {
  float: right;
  width: 45%;
  margin-right: 1.1em;
}

/*admin by module*/
div.bymodule ul li {font-size:80%; margin:0 0 0px 0; padding:0px 0 0 18px;}
	
#primary .messages{
   font-size:0.875em;
   padding:10px;
}
#primary .messages ul li {
     list-style:none;
}

#primary .messages .status{
     padding:10px;

	 border:1px solid #3d7903;
	}

#primary .help .help{
	padding:5px;
	margin:15px 15px 15px 15px;

	border:1px solid  #ECECEC;

	}
	
	
#primary .help .help a, #primary .help .help a:hover{
     font-weight: normal;
	 color: #990000;
	}	
	
	
#primary .help .help ol li {
	list-style:none;

	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	}
	
	
#primary .admin-dependencies, #primary .admin-required {
	 color:#999999;
	 font-size:100%;
	 font-style:italic;
	 font-family:Arial, Helvetica, sans-serif;
	}	

#primary code{
	 color:#000;
	 font-weight:bold;
	 font-family:Arial, Helvetica, sans-serif;
	}	

/*comments & links*/
#comments{
margin-top: 2em;
font-size:0.875em;
}

#comments .box h2{
font-size:1.3em;
}


.commentTitle{
font-size:1.4em;
font-family:Georgia, "Times New Roman", Times, serif;
margin-bottom:5px;
}

#comments .content{
margin-bottom:5px;
font-size:1.1em;
}
.submitted{
margin-bottom:10px;
font-style:italic;
font-size:0.80em;
}

.comment{ position:relative;
	background-color: #f4f3eb;
	margin:0 0 1em;
	padding:1em;
}

.links{
font-size:0.875em;/*14px*/
margin-top:1em;
 
}
#primary .singlepage #comments .comment .corntl{
	position:absolute;
	top:0;
	left:0;
	width:7px;
	height:7px;
	background-image: url(img/commTL.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#primary .singlepage #comments .comment .corntr{
	position:absolute;
	top:0;
	right:0;
	width:7px;
	height:7px;
	background-image: url(img/commTR.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#primary .singlepage #comments .comment .cornbl{
	position:absolute;
	bottom:0;
	left:0;
	width:7px;
	height:7px;
	background-image: url(img/commBL.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#primary .singlepage #comments .comment .cornbr{
	position:absolute;
	bottom:0;
	right:0;
	width:7px;
	height:7px;
	background-image: url(img/commBR.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#primary .singlepage  .comment .corntl{
	position:absolute;
	top:0;
	left:0;
	width:7px;
	height:7px;
	background-image: url(img/commTL.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#primary .singlepage  .comment .corntr{
	position:absolute;
	top:0;
	right:0;
	width:7px;
	height:7px;
	background-image: url(img/commTR.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#primary .singlepage .comment .cornbl{
	position:absolute;
	bottom:0;
	left:0;
	width:7px;
	height:7px;
	background-image: url(img/commBL.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#primary .singlepage .comment .cornbr{
	position:absolute;
	bottom:0;
	right:0;
	width:7px;
	height:7px;
	background-image: url(img/commBR.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.indented .comment { background-color:#ffe4a7; }
.indented { position:relative;}
#primary .singlepage #comments .indented .comment .corntl{position:absolute;top:0;left:0;width:7px;height:7px;background:url(img/commTLa.gif) no-repeat left bottom;}
#primary .singlepage #comments .indented .comment .corntr{position:absolute;top:0;right:0;width:7px;height:7px;background:url(img/commTRa.gif) no-repeat left bottom;}
#primary .singlepage #comments .indented .comment .cornbl{position:absolute;bottom:0;left:0;width:7px;height:7px;background:url(img/commBLa.gif) no-repeat left bottom;}
#primary .singlepage #comments .indented .comment .cornbr{position:absolute;bottom:0;right:0;width:7px;height:7px;background:url(img/commBRa.gif) no-repeat left bottom;}


.linksteaser{
padding-bottom:10px;
border-bottom: 1px dashed #ccc;
margin-bottom: 5px;
}

.linksteaser ul li{
margin-right: 5px;
}

.comment .links ul li{
list-style:none;
background:none;
padding-left: 23px;
padding-top:1px;
padding-bottom:1px;
}


.comment .links li.comment_delete{
background:url(img/commentdelete.gif) no-repeat;
}

.comment .links li.comment_edit{
background:url(img/commentedit.gif) no-repeat;
}

.comment .links li.comment_reply{
background:url(img/commentadd.gif) no-repeat;
}

#primary .links li.comment_forbidden{
background:url(img/lock.gif) no-repeat;
padding-left:22px;
}

#primary .links li.comment_comments{
background:url(img/comments.gif) no-repeat;
padding-left:22px;
}

#primary .links li.blog_usernames_blog{
background:url(img/blog.gif) no-repeat;
padding:1px 0 0 23px;

}
#primary .links li.comment_new_comments{
background:url(img/commentnew.gif) no-repeat;
padding-left:22px;
}
.links li.comment_add{
background:url(img/comment_add.gif) no-repeat;
padding:0px 10px 0 23px;
}


.links .node_read_more{
background:url(img/readmore.gif) no-repeat;
padding:1px 0 0 23px;
}
.links li.upload_attachments{
background:url(img/Transfer.gif) no-repeat;
padding:1px 0 0 23px;
}


/*taxonomy terms in node*/

.taxonomy{
font-size:0.875em;
margin:15px 0 25px 0;
border-top:4px solid #eee;
padding-top:10px;
clear:left;

}

.taxonomyteaser{
margin:10px 0 15px 0;
border-bottom:1px dashed #ccc;
padding-bottom:10px;
clear:left;
font-size:0.875em;
}

.taxonomy span{  
 font-size:0.875em;

background:url(img/tag_yellow.png) no-repeat;


padding-left:21px;

padding-right:10px;
}

p span.tagsteaser{
background:url(img/tag_yellow.png) no-repeat; 
font-size:0.875em;

padding-left:23px;

color:#24365c;
}

.preview .node .taxonomy span{padding-left:3px;padding-right:3px;} /*no key icon in preview */

/*meta in nodes*/

.metanode{

font:0.875em Georgia, "Times New Roman", Times, serif;
font-style:italic;
margin:10px 0 20px 0;
}

.metanode p{

}
.metanode span{
font-weight:bold;
padding-bottom:5px;
}

.metanode span.author{
background:url(img/user.gif) no-repeat;
padding-left:21px;
}

.metanode span.date{
background:url(img/clock.gif) no-repeat 2px 0;
padding-left:21px;
}


/*pager*/
.item-list ul.pager{
text-align: center;
margin:0px;
padding-top:10px;
font-size:0.75em;
}

.item-list .pager li{
margin:0px;
padding:3px;
}

.item-list .pager li.pager-current{
padding:4px;

border:1px solid #ccc;
color:#333;
}




/*avatar*/

.picture{
float:right;
margin:8px 0 4px 8px; 

}

.picture img{
margin:0 0 4px 5px;
padding:2px;
 
 

}

.picture a:hover img{
 }


/*signature in 6x */ 

.firma{ background:url(img/comment_line.gif) top left no-repeat;
	margin:6px 0 4px 0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-top:1px;
	color: #666;

}

/*forums*/

#primary .singlepage #forum ul.links li.forum{
font-size:0.8em;
padding-left:22px;

}

.singlepage #forum table tr.even{

}

.singlepage #forum table tr td.container{

}


.singlepage #forum{
font-size:0.85em;
}

.singlepage #forum .name{
font-size:1.2em;
margin-bottom:8px;
}

#forum .links
{
margin:0px;
display:inline;
}

#forum .links a
{
font-size:1.3em;
}

/*sticky icon*/
#primary img.sticky{float:none;margin:0px 0 0 8px;padding:0px;}
/*profile*/
.profile{
	font-size:0.9em;
	padding: 10px;


}
.profile dl{font-size:0.85em;}
.profile dl dt{font-size:1.2em;}
.profile dl dd{font-size:1.3em;}
.profile dd{font-size:1em;}
.profile h3{font-size:1.4em;border-bottom:none;margin-bottom:20px;}

/*book & forum navigation*/

.book-navigation, .forum-topic-navigation{
font-size:0.75em;

margin-top:10px;
}

.book-navigation a, .forum-topic-navigation a{
font-weight:normal;
}

/*attachments */

#page table#attachments tr td{padding:5px 5px 5px 5px; text-align:center;  }
#page table#attachments tr td a{font-weight:normal;}

/*pools*/
#page .poll{clear:both; margin-top:3px;}
.poll .title{font-weight:bold;margin:8px 0 8px 0;}
.poll .percent, .pool .text{margin:1px 0 1px 0;}
#page .poll .bar .foreground{;}
#page .poll .vote-form{text-align:left;}
#page .poll .form-item{margin:8px 0 8px 0;}
#page .poll .choices{margin:0px;}
#page .poll .total{text-align:left;}

/*book links */

.links .book_printer{
padding-left:20px;
}

.links .book_add_child{
padding-left:20px;
}

#primary .content .book-navigation .menu li{
list-style:none;
list-style-image:none;
list-style-type:none;
padding-left:20px;
margin:4px 0 4px 0;
}

/*search results*/

#primary .singlepage .search-results dt{font-size:100%;background:url(img/result.gif) no-repeat;margin-top:10px;}
#primary .singlepage .search-results p{font-size:100%;}
#primary .singlepage .search-results p strong{}
#primary .singlepage .search-results p.search-info{font-style:italic;}

/*hidden div used to hide hidden form elements (such as paypal form)*/

.hide{visibility:hidden;height:5px;}


/**
 * Collapsible sets
 */
set {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ccc;
  display:block;
  clear:left;
  width:95%;
  overflow:visible;
}

/* Targets IE 7. Fixes background image in  sets. */
*:first-child+html set {
  padding: 0 1em 1em;
}

*:first-child+html set > .description, *:first-child+html set .set-wrapper .description {
  padding-top: 1em;
}

set legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html set legend, *:first-child+html set.collapsed legend {
  display: inline;
}


html.js set.collapsible{
margin:5px 0 5px 0;
display:block;
float:left;
}

html.js set.collapsed{
margin:5px 0 5px 0;
display:block;
clear:left; /* avoid set overlapping in ie */

}


set ul.clear-block li {
  margin: 0;
  padding: 0;

}

/*teaser checkbox */
.teaser-checkbox{margin-bottom:10px;}

/*aggregator styles*/
.feedcontainer{margin-left:0px;margin-bottom:20px; margin-top:20px; position:relative;}
#primary .singlepage .feedcontainer h2{margin-bottom:-5px; font-size:1.3em;}
.feedcontainer .feedcontent{border-bottom:1px dashed #ccc;}

#primary .singlepage .feedsummary {border-bottom:1px dashed #ccc;padding-bottom:10px;}
#primary .singlepage #aggregator h2{font-size:1.3em;}
#primary .singlepage #aggregator li { /*aggregator list*/
font-size:0.8em;
list-style:square;
margin:3px 0 3px 18px;

padding:0 0 0 3px;
}

/*taxonomy term page */

.terminfo{ font-family:Georgia, "Times New Roman", Times, serif; padding:15px;margin-bottom:10px;}
#primary .terminfo p{
font-size:1.1em;
font-style:italic;
line-height:120%;
text-align:center;
color:#666600;
}


.wrapper.tagadelic a:hover {
	color: #FF9900;
	text-decoration: none;
}

.site-map{
	padding: 10px;
}
.box p {	 
	color: #333333;

}
.box ul li{
	list-style-position: inside;
	display: block;
	font-size: 90%;
}

#primary .singlepage .box .content ul.menu li{
	font-size: 90%; list-style:none;
}
#primary .singlepage .box .content ul li img {
	float: none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
/*
 * Tabs CSS
 *
 *
 */
 /*
** Tab navigation
*/
ul.primary {  text-decoration: none;
  width: 550px;

  border-collapse: collapse;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
  list-style: none;
  margin: 5px;
  height: auto;
  line-height: normal;
  border-bottom: none;
}
ul.primary li { 

  display: inline;
}
ul.primary li a {
  padding: 1px 2px;
    background-color: #EBEBEB;
  border: #D6D6D6 solid 1px;
  height: auto;
  margin-right: auto; /* LTR */
 
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #F0F0F0;
  text-decoration: none;
  
  border: #D6D6D6 1px solid;
}
ul.primary li a:hover {
 text-decoration:none;
  background-color: #fff;
  
  border: #EBEBEB 1px solid;
}
ul.secondary {
  border: none;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  display: inline;
  border:none;
}
ul.secondary a {
  padding: 1px 2px;
    background-color: #EBEBEB;
  border: #D6D6D6 solid 1px;
  height: auto;
  margin-right: auto; /* LTR */
 
  text-decoration: none;
}
ul.secondary a.active {
  background-color: #F0F0F0;
  text-decoration: none;
  
  border: #D6D6D6 1px solid;
}
ul.secondary li a:hover {
 text-decoration:none;
  background-color: #fff;
  
  border: #EBEBEB 1px solid;
}

 
#page #primary .tabs{ /* tabs */
	font-size:90%; 
	padding: 0px;

	}


#page #primary .tabs{ /* tabs */
	}


#page #primary .tabs .secondary {  /* tabs secondary */
	}
	
table.sticky-enabled  thead { 
	margin: 0;
}
 

 

/*________________________________*/


#primary .defaultblock {
	background: none;
 
}
#primary .blockcontent { 
	margin: 0px;
	padding: 5px;
	background: none;
}
#primary .blockcontent p{		margin:0px 0px 0px 0px; 
	padding: 0px;

}
#primary .defaultblock h2{
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	text-decoration: none;
}

#primary .blockcontent img{
	margin: 0px;
	float: none;
}


blockquote {
	font-style: normal;
	text-decoration: none;
 }
#page .wrapper #primary .singlepage .node .content #subscriptions-ui-node-form .sticky-enabled {
	margin: 10px;
 border:0;
}
thead .subscriptions-table{  margin: 10px; font-size: 110%}

 #page .wrapper #primary .singlepage .node .content #subscriptions-ui-node-form fieldset {
border:0;
}
 #page .wrapper #primary .singlepage .node .content #subscriptions-ui-node-form a { text-decoration:none;
 
}
fieldset {border: solid #EBEBEB 1px;   }
fieldset {}  
legend {
	text-decoration:none;
	font-weight: normal;
 
}

.user-activity div{ max-width: 350px; text-align:left;
 
}
#page .wrapper #primary .singlepage .box .content #subscriptions-content-type-form .form-item .sticky-enabled {
	font-size: 110%;}
#page .wrapper #primary .singlepage .box .content #subscriptions-blog-ui-blog-form .form-item .sticky-enabled {
	font-size: 110%;
}


.image-attach-body {
  float:none;
  margin-left: 1em;
}
 
 /*bueditor*/
 
.editor-left-button { text-align: left; font-size: 80%}
 
.editor-center-button { text-align: center; font-size: 80%}

.editor-right-button { text-align: right; font-size: 80%}

.editor-justify-button { text-align: justify; font-size: 80%}

.vocabindex-list span{ display:block; font-size: 80%; padding: 5px; color:#666666;}
/*primary corners*/
#primary .singlepage {
	text-align: left;
	
	position:relative;
	background-color: #FFFFFF;
	background-image: url(img/content-bottom-r.gif);
	background-repeat: no-repeat;
	background-position: right bottom;	 
}
#primary .singlepage .singlepage-1{
	position:relative;
	background-image: url(img/content-bottom-l.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
padding:15px 15px 15px 15px;}

#primary .singlepage .corntl{
	position:absolute;
	top:0;
	left:0;
	width:6px;
	height:6px;
	background-image: url(img/content-top.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#primary .singlepage .corntr{
	position:absolute;
	top:0;
	right:0;
	width:6px;
	height:6px; 
	background-image: url(img/content-top.gif);
	background-repeat: no-repeat;
	background-position: right top;
}


/*#primary .singlepage .cornbl{
	position:absolute;
	bottom:0;
	left:0;
	width:6px;
	height:6px;
	background-image: url(img/content-bottom.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#primary .singlepage .cornbr{
	position:absolute;
	bottom:0;
	right:0;
	width:6px;
	height:6px;
	background-image: url(img/content-bottom.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}*/

/*image*/

.images .author, .date{font:0.875em Georgia, "Times New Roman", Times, serif;
}