/*SanQ styles v1.0 - Drupal6x - 27/08/08
author:slasant: www.slasant.ru*/


/*- Sidebar Subpages Menu */

.lsidebar {
	width: 195px;
	float: left;
	margin-top:-5px;
	margin-right:5px;
	margin-bottom:0px;
	margin-left:0px;
	}
.rsidebar {
	width: 195px;
	float: left;
	margin-top:-5px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:5px;
	}	
