/*- SanQ styles for IE6 v0.2 - Drupal6x - 28/08/08
author: slasant: www.slasant.ru
 */

#utilities form{bottom:7px;}
#utilities input.form-submit{padding:0px;}	
#utilities input.form-text {padding:1px 1px 3px 1px;}

div.admin .left {
  _margin-left:0.2em;
}

.item-list .pager li{
margin:0px 1px 0 1px;
}

.item-list .pager li.pager-current{
padding:2px 2px 3px 4px;
}

.lsidebar{

margin-left:15px;
margin-right:0px;
}

.rsidebar{

margin-left:13px;
margin-right:0px;
}
	
.wrapper{margin:14px 13px 13px 13px;}
#header-region  {
	clear: both;
 
  
 
}
#header-region .blockcontent img{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.container-inline#node-admin-buttons {
	padding-left: 30px;
}
